<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Blog Posts</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-100 font-sans antialiased">
    <!-- Navbar -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between items-center">
      <h1 class="text-3xl font-bold">AI Blog Generator</h1>
      <div>
        <a href="#" class="text-white hover:underline mx-2"
          >Welcome {{ user.username }}</a
        >
        <a href="/blog-list" class="text-white hover:underline mx-2"
          >Saved Blog Posts</a
        >
        <a href="#" class="text-white hover:underline mx-2">Logout</a>
      </div>
    </nav>

    <!-- Main Content Container -->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
      <div class="max-w-3xl mx-auto bg-white p-8 rounded-lg shadow-lg">
        <!-- Blog posts section -->
        <section>
          <h2 class="text-2xl mb-6 font-semibold text-gray-700">
            All Blog Posts
          </h2>
          <div class="space-y-6">
            {% for article in blog_articles reversed %}
            <a href="blog-details/{{article.id}}" class="block">
              <div
                class="border border-gray-300 p-6 rounded-lg hover:shadow-lg transition-shadow"
              >
                <h3 class="text-xl font-semibold text-blue-600 mb-2">
                  {{article.youtube_title}}
                </h3>
                <p class="text-gray-700">
                  {{article.generated_content|truncatechars:80}}
                </p>
              </div>
            </a>
            {% endfor %}
          </div>
        </section>
      </div>
    </div>

    <footer class="text-center p-4 text-gray-700 mt-10">
      Powered by
      <a
        href="https://github.com/JoYBoYOO7"
        class="text-blue-600 hover:underline"
        >@JoYBoY007</a
      >
    </footer>
  </body>
</html>
